.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
    transition: transform 0.5s, box-shadow 0.5s;
    transform: perspective(500px) rotateY(0deg);
    transform-origin: center;
    will-change: transform;
}
.nav-item {
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav-item:hover {
    transform: perspective(500px) rotateY(15deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-decoration: none;
}

.navbar-toggler {
    display: none;
}

/* Masque le menu au chargement de la page */
.navbar-collapse {
    display: none;
}

/* Affiche le menu lorsque la classe 'show' est appliquée */
.navbar-collapse.show {
    display: block;
}

@keyframes grow {
    from {
        transform: scale(0,0);
        opacity: 1;
    }
    to {
        transform: scale(1.5,1.5);
        opacity: 0;
    }
}


@media (max-width: 1400px) {
    .navbar-nav .nav-link {
        font-size: 0.8rem;
    }
}

@media (max-width: 1200px) {
    .navbar-nav {
        display: none;
    }

    .navbar-toggler {
        display: block !important;
    }
}