/* Header - css */
.navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar .container {
    max-width: 100%; /* Permet au conteneur de s'étendre sur toute la largeur */
}

#navbarSupportedContent {
    justify-content: center; /* Centre les éléments de navigation */
}