.nav-link {
    font-size: 1.2rem;
    text-decoration: none;
}
.nav-item {
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}